<section id="categoria-a" class="categoria-a" class="text-center padding-2">
    <div class="categoria-a__container">
        
      <h2 class="text-center">
        Concerts mitics
      </h2>
      
      <blockquote class="text-center">
        <p>"Qualsevol concert amb ells es un gran comboi"</p>
        <cite>Fans d'oques Grasses</cite>
      </blockquote>

      <div class="categoria-a__specials">
        
          <figure class="text-center">
            <img src="../../../assets/images/Concerts/oques-grasses-sant-jordi.jpg" alt="Palau Sant Jordi" class="special-icon">
            <h3 >Palau Sant Jordi</h3>
            <p >
              Concert emblemàtic  
            </p>
            <a href="./detall.html#SantJordi" > Més informació</a>
            
          </figure>

          <figure class="text-center">
            <img src="../../../assets/images/Concerts/oques-grasses-valencia.jpeg" alt="Concert València" class="special-icon">
            <h3 >Concert València</h3>
            <p >
              Vivers de València. 
            </p>
            <a href="./detall.html#Vivers"> Més informació</a>
          </figure>



          <figure class="text-center">
            <img src="../../../assets/images/Concerts/Palafrugell.jpg" alt="Palafrugell" class="special-icon">
            <figcaption>
            <h3 >Palafrugell</h3>
            <p >
              Festival  a Palafrugell.
            </p>
            <a href="./detall.html#Palafrugell"> Més informació</a>
             </figcaption>
          </figure>

          <figure class="text-center">
            <img src="../../../assets/images/Concerts/Oques GrassesFarga.jpg" alt="Xativa" class="special-icon">
            <h3 >Xàtiva</h3>
            <p >
              Concert emblemàtic  
            </p>
            <a href="./detall.html#SantJordi" > Més informació</a>
            
          </figure>
      </div>
    </div>


  </section>