<section id="categoria-c" class="text-center padding-4 categoria-c ">
    <div class="container" >
        <h2 class="section-tittle">
         Cançons de Oques Grasses
        </h2>
        <div class="boto-line"></div>

        <div   class="categoria-c__process">
          <div>
            <i class="fa-solid fa-heart-crack fa-3x categoria-c__process__icon margin-2">
              <div class="categoria-c__process__step">
                2022
              </div>
              
            </i>
            <h3>Bye Bye</h3>
              <p>Aquesta cançó parla de la ruptura d'una relació de parella. La cançó és optimista i parla de la importància de seguir endavant i de no mirar enrere  </p>
          </div>
          <div>
            <i class="fa-solid fa-sun fa-3x categoria-c__process__icon margin-2">
              <div class="categoria-c__process__step">
                2018 
              </div>
            </i>
            <h3>Fans del Sol</h3>
            <p>Aquesta cançó és un himne a la vida i a la felicitat. La cançó parla de la importància de gaudir del moment present i de les coses bones que tenim.</p>

          </div>

          <div>
            <i class="fa-solid fa-heart-circle-bolt fa-3x categoria-c__process__icon margin-2">
              <div class="categoria-c__process__step">
                2022
              </div>
            </i>
            <h3>La gent que estimo</h3>
            <p>Aquesta cançó és un homenatge a la gent que estimem, tant si són familiars, amics o parelles. La cançó parla de la importància de tenir cura de les persones que ens importen.</p>

          </div>       
          
          <div>
            <i class="fa-solid fa-frog fa-3x categoria-c__process__icon margin-2">
              <div class="categoria-c__process__step">
                2014
              </div>
            </i>
            <h3>La granota</h3>
            <p>Aquesta cançó és una faula sobre una granota que vol ser un ocell. La cançó parla de la importància d'acceptar-se a un mateix i de no voler ser com els altres.</p>

          </div>  
        </div>
    </div>
  </section>