<section id="categoria-b" class="categoria-b text-center padding-4">
    <h2 class="text-center"> Dades interessants</h2>

    <div class="stats">
      <div>
        <ul  class="text-center" >
            <li  ><i class=" fa-solid fa-play fa-4x"></i></li>
          <li class="stats__title">Concerts</li>
          <li class="stats__number">+1.000</li>
        </ul>
      </div>
      <div>

        <ul>
          <li><i class="fa-solid fa-music fa-4x"></i></li>
          <li class="stats__title">Cançons</li>
          <li class="stats__number">85</li>
        </ul>
      </div>

      <div>
        <ul>
          <li><i class="fa-solid fa-people-group  fa-4x"></i></li>
          <li class="stats__title">Integrants</li>
          <li class="stats__number">7</li>
        </ul>

      </div>
      
      <div>
        <ul>
          <li><i class="fas fa-compact-disc fa-4x"></i></li>
          <li class="stats__title">Albums</li>
          <li class="stats__number">11</li>
        </ul>

      </div>
    </div>


</section>