<section id="categoria-g" class="categoria-g"> 
    <h2 >Pròxims concerts </h2>
    <div class="categoria-g__container__list">
            <div class="categoria-g__container__list__container">
              <a ><i class="fa-solid fa-ticket fa-3x gray"></i></a>
              <ul class="categoria-g__container__list__ul taxat">
                <li class="categoria-g__container__list__li rosa ">
                  20/04/2024 
                - Batea
                </li>
                <li>
                  Cruïlla DO Terra Alta
                </li>
              </ul>
              
            </div>
            <div class="categoria-g__container__list__container">
              <a href="https://www.enterticket.es/eventos/oques-grasses-placa-de-bous-de-valencia-festa-presentacio-pirata-beach-fest-2024" target="_blank"><i class="fa-solid fa-ticket  fa-3x rosa"></i></a>
              <ul class="categoria-g__container__list__ul ">
                <li class="categoria-g__container__list__li rosa">
                  25/05/2024 
                - València
                </li>
                <li>
                  Plaça Bous
                </li>
              </ul>
             
            </div>
            <div class="categoria-g__container__list__container">
              <a href="https://www.cabrorock.cat/" target="_blank"><i class="fa-solid fa-ticket  fa-3x rosa"></i></a>
              <ul class="categoria-g__container__list__ul">
                <li class="categoria-g__container__list__li rosa">
                  14/06/2024 - Cabró Rock 
                </li>
                <li>
                  Vic
                </li>
              </ul>

            </div>
            <div class="categoria-g__container__list__container">
              <a href="https://www.canetrock.cat/venda-entrades" target="_blank"><i class="fa-solid fa-ticket  fa-3x rosa"></i></a>
              <ul class="categoria-g__container__list__ul">
                <li class="categoria-g__container__list__li rosa">
                  07/07/2024 - Canet Rock
                </li>
                <li>
                  Canet del Mar
                </li>
              </ul>
             
            </div>
            <div class="categoria-g__container__list__container">
              <a href="https://www.sonsdelmon.cat/programacio/81/15/oques-grasses" target="_blank"><i class="fa-solid fa-ticket  fa-3x rosa"></i></a>
              <ul class="categoria-g__container__list__ul">
                <li class="categoria-g__container__list__li rosa">
                  04/08/2024 - Sons del Món
                </li>
                <li>
                  Roses
                </li>
              </ul>
              
            </div>
            <div class="categoria-g__container__list__container">
              <a href="https://www.sonsdelmon.cat/programacio/81/15/oques-grasses" target="_blank"><i class="fa-solid fa-ticket  fa-3x rosa"></i></a>
              <ul class="categoria-g__container__list__ul">
                <li class="categoria-g__container__list__li rosa">
                  09/10/2024 - Sorpresa
                </li>
                <li>
                  No determinat
                </li>
              </ul>
              
            </div>
            <div class="categoria-g__container__list__proximament">
              <p> Proximanet més concerts</p>
            </div>     
            <div class="categoria-g__container__list__loader">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>   
          
    </div>
</section>