<section class="enlaces-c">
    <h2 class="text-center">Fonts utilitzades</h2>
    <div class="container">
      <ol class="enlaces-c__llistat">
        <li>El disseny del loading de la pàgina de categories està basat en les tècniques descrites a <a href="https://barcelonageeks.com/como-crear-un-efecto-de-bola-de-onda-usando-css/" target="_blank">Barcelona Geeks</a>.</li>
        <li>Per a idees de disseny i funcionalitat, he consultat recursos i tutorials a <a href="https://www.youtube.com" target="_blank">YouTube</a>, especialment els canals dedicats al desenvolupament web com midudev.</li>
        <li>He utilitzat Instagram per a observar les últimes tendències en disseny i interacció d'usuari.</li>
        <li>He analitzat el disseny i l'estructura de la pàgina web <a href="https://soctesther.com" target="_blank">soctesther.com</a> per entendre millor com presentar contingut de manera efectiva en una pàgina web dedicada a serveis professionals.</li>
        <li>He revisat diverses webs d'altres artistes per a obtenir inspiració sobre com podrien ser les composicions visuals i els esquemes de navegació.</li>
      </ol>
    </div>
  </section>