<section class="enlaces-a">
    <h2 class="text-center"> Origen dels textos</h2>
    <div class="container">
<h2 class="enlaces-a__textos" > Textos</h2>

<p> En relació als textos, majoritariament s'han utilitzat els de la pàgina web d'oques grasses, aixina com la informació dels concerts.</p>
<p> El text de la portada es integrament de la pàgina web d'oques grasses </p>
<p> La part dels texto de cançons de Oques Grasses, aixina com Ánectodes de Oques Grasses està generat per IA </p>
<p> Respecte a lapart de concerts de detall, la informació obtesa es dels diferents certaments de música, son textos extrets d'aquestes webs</p>

<p> La totalitat de la informació extreta en la part de presentació és de la pàgina web d'oques grasses</p>
</div>
</section>