<section class="enlaces-d">
    <h2 class="text-center"> Xarxes socials utilitzades</h2>
    <p class="enlaces-d__paragraf">
      He fet ús de diverses fonts per a recollir idees per al desenvolupament d'aquesta pàgina web, ja que no tenia experiència prèvia en el disseny web. A més d'Internet en general, he consultat diverses xarxes socials i vídeos a YouTube per a inspirar-me i orientar el meu treball.
    </p>
    <div class="enlaces-d__container">
    <ul class="enlaces-d__container__llista">
      <li class="enlaces-d__container__item enlaces-d__item--discord">
        <i class="fa-brands fa-discord fa-3x"></i>
        <p>Discord</p>
      </li>
      <li class="enlaces-d__container__item enlaces-d__item--youtube">
        <i class="fa-brands fa-youtube fa-3x"></i>
        <p>YouTube</p>
      </li>
      <li class="enlaces-d__container__item enlaces-d__item--x">
        <i class="fa-solid fa-xmark fa-3x"></i>
        <p>X</p>
      </li>
      <li class="enlaces-d__container__item enlaces-d__item--instagram">
        <i class="fa-brands fa-instagram fa-3x"></i>
        <p>Instagram</p>
      </li>
      <li class="enlaces-d__container__item enlaces-d__item--facebook">
        <i class="fa-brands fa-facebook fa-3x"></i>
        <p>Facebook</p>
      </li>
    </ul>
    </div>
  </section>