<section class="presentacio-e">
    <h2 class="text-center ">Qui son els nostres components?</h2><br>
    <p class="text-center presentacio-e__text"> Prem sobre les imatges i descobreix els nostres musics</p>
    <div class="presentacio-e__caixes">
        <div class="presentacio-e__caixes__caixa">
          <div class="presentacio-e__caixes__caixa__imatge">
            <img src="../../../assets/images/integrants/josepmontoro.jpg" alt="imatge 1">
          </div>
          <div class="presentacio-e__caixes__caixa__continguts">
            
                <h3>Josep Montero</h3>
                <p> Cantant del Grup</p>
            
          </div>
        </div>
        <div class="presentacio-e__caixes__caixa">
          <div class="presentacio-e__caixes__caixa__imatge">
            <img src="../../../assets/images/integrants/guillemRela.jpg" alt="imatge 1">
           </div>
           
            <div class="presentacio-e__caixes__caixa__continguts">
                <h3>Guillem Realp</h3>
                <p> Baix i veus del grup</p>
            </div>
             

        </div>
        <div class="presentacio-e__caixes__caixa">
          <div class="presentacio-e__caixes__caixa__imatge">
            <img src="../../../assets/images/integrants/joanBorras.jpg" alt="imatge 1">
          </div> 
          <div class="presentacio-e__caixes__caixa__continguts">                        
                <h3>Joan Borràs</h3>
                <p> Teclat i veus</p>
            </div>
             

        </div>
        <div class="presentacio-e__caixes__caixa">
          <div class="presentacio-e__caixes__caixa__imatge">
            <img src="../../../assets/images/integrants/arnau.jpg" alt="imatge 1">
          </div>
          
            <div class="presentacio-e__caixes__caixa__continguts">
                <h3>Arnau Altimir</h3>
                <p> Músic del grup</p>
            </div>
             

        </div>
        <div class="presentacio-e__caixes__caixa">
          <div class="presentacio-e__caixes__caixa__imatge">
            <img src="../../../assets/images/integrants/miquelBiarnes.jpg" alt="imatge 1">
          </div>
          <div class="presentacio-e__caixes__caixa__continguts">
                <h3>Miquel Biarnés</h3>
                <p> Trombó i percussió</p>
          </div>
             

        </div>
        <div class="presentacio-e__caixes__caixa">
          <div class="presentacio-e__caixes__caixa__imatge">
            <img src="../../../assets/images/integrants/migquelRojo.jpg" alt="imatge 1">
          </div>
            
            <div class="presentacio-e__caixes__caixa__continguts">
                <h3>Miquel Rojo</h3>
                <p> Trompeta i veus</p>
            </div>
        </div>


    </div>
</section>