<section class="presentacio-a">
    <h2 class="text-center" >Història d'Oques Grasses</h2>
    <p>
      Oques Grasses és un grup de música català format a Osona l'any 2010. El seu estil musical és variat, però s'enquadra especialment en el reggae-pop. El grup el formen: Josep Montero (veu), Arnau Altimir (guitarra), Guillem Realp (baix), Joan Borràs (bateria), Miquel Biarnés (trompeta), Miquel Rojo (trombó) i Josep Valldeneu (saxo).
    </p>
    <p>
      El grup va començar com un projecte personal de Josep Montero, que va anar sumant músics a poc a poc. El seu primer disc, "Un dia no sé com", va ser autoeditat l'any 2012 i va tenir un gran acolliment per part del públic. A partir d'aquí, la seva popularitat va anar creixent fins a convertir-se en un dels grups més importants del panorama musical català.
    </p>
  </section>