<section class="presentacio-b">
    <h2 class="text-center" >Cançons més populars</h2>
    <ul class="llista-discs">
      <li>
        <a href="https://www.youtube.com/watch?v=R8hA5Y77xuE" target="_blank">
          <img src="../../../assets/images/dis_1.jpg" alt="Un dia no se com">
          <h3 class="text-center" >Un dia no sé com</h3>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=A-tp7Gy3pbc" target="_blank">
          <img src="../../../assets/images/disc_2.jpg" alt="Continuem vius">
          <h3 class="text-center" >Continuem vius</h3>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=mMmRNbiwaAY" target="_blank">
          <img src="../../../assets/images/disc_3.jpg" alt="You Poni">
          <h3 class="text-center" >You Poni</h3>
        </a>
      </li>
    </ul>
  </section>