
.header-logoenlaces{
    width: 100px;
    height: auto;
}

.enlaces {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .enlaces {
        font-size: 1rem;
    }

    .header-logoenlaces{
        width: 150px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .enlaces {
        font-size: 0.8rem;
    }

    .header-logoenlaces{
        width: 100px;
        height: auto;
    }
}

.enlaces_h1 {
    font-size: 2.2rem;
    text-align: center;
}

@media (max-width: 768px) {
    .enlaces_h1 {
        font-size: 1.7rem;
    }
}

@media (max-width: 480px) {
    .enlaces_h1 {
        font-size: 1rem;
    }
}

.enlaces-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    transform: translateZ(0);
    will-change: transform;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 768px) {
    .enlaces-a {
        width: 95%;
        margin: 5% 2.5%;
        font-size: 0.8;
    }
}

.enlaces-a__container {
    width: 100%;
}

@media (max-width: 480px) {
    .enlaces-a__container {
        height: auto;
    }
}

.enlaces-a__container p {
    line-height: 1.5rem;
    margin: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 480px) {
    .enlaces-a__container p {
        line-height: 1.5;
        font-size: 0.8rem;
        margin: 0.2rem;
    }
}

.enlaces-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70vw;
    margin: 0 auto;
}

@media (max-width: 480px) {
    .enlaces-b {
        width: 90vw;
    }
}

.enlaces-b table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    max-width: 90vw;
}

@media (max-width: 748px) {
    .enlaces-b table {
        width: 90%;
        min-width: none;
    }
}

.enlaces-b tr{
    height: 10px;
}

.enlaces-b td {
    border: 2px solid black;
    border-collapse: collapse;
    height: 120px;
}

.enlaces-b tr:nth-child(even) {
    background-color: #e8e8e8; 
}

.enlaces-b__Imatge__img {
    margin: 12px auto;
    width: 75px;
    height: 75px;
    
    
    aspect-ratio: 3/2;
}

@media (max-width: 768px) {
    .enlaces-b__Imatge__img {
        width: 50px;
        height: 50px;
        margin: 6px auto;
        aspect-ratio: 3/2;
    }
}

@media (max-width: 480px) {
    .enlaces-b__Imatge__img {
        width: 50px;
        height: 50px;
        margin: 1px auto;
        aspect-ratio: 3/2;
    }
}

.enlaces-b__text {
    color: #000000;
    margin: 12px;
    width: 300px;
    max-width: 25vw;
    height: 350px;
}

@media (max-width: 768px) {
    .enlaces-b__text {
        width: 250px;
        height: 300px;
        margin: 6px;
    }
}

@media (max-width: 480px) {
    .enlaces-b__text {
        width: 150px;
        height: 200px;
        margin: 3px;
    }
}

.enlaces-b__text p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    margin-left: 3vh;
}

@media (max-width: 480px) {
    .enlaces-b__text p {
        font-size: 0.8rem;
        margin: 0;
    }
}

.enlaces-c {
    width: 80%;
    margin: 3vh 10%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .enlaces-c {
        width: 95%;
        margin: 3vh 2.5%;
    }
}

.enlaces-c .text-center {
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.enlaces-c .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 768px) {
    .enlaces-c .container {
        width: 95%;
        margin: 0 2.5%;
    }
}

.enlaces-c__llistat {
    list-style-type: none;
    padding-left: 0;
}

.enlaces-c__llistat li {
    background-color: #f0f0f0;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    border-left: 5px solid #398a3c;
}

@media (max-width: 768px) {
    .enlaces-c__llistat li {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .enlaces-c__llistat li {
        font-size: 0.8rem;
    }
}

.enlaces-c__llistat li a {
    color: #0056b3;
    text-decoration: none;
}

.enlaces-c__llistat li a:hover {
    text-decoration: underline;
    color: #d60087;
}

.enlaces-d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.enlaces-d__paragraf {
    margin: 1% 10%;
    text-align: justify;
}

@media (max-width: 768px) {
    .enlaces-d__paragraf {
        margin: 1% 5%;
    }
}

.enlaces-d__container {
    width: 33vw;
    margin: 4vh 0;
}

.enlaces-d__container__llista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: space-between;
}

@media (max-width: 768px) {
    .enlaces-d__container__llista {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .enlaces-d__container__llista {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

.enlaces-d__container__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.enlaces-d__container__item--discord i:hover {
    color: #7289da; /* color Discord */
}

.enlaces-d__container__item--youtube i:hover {
    color: #FF0000; /* color YouTube */
}

.enlaces-d__container__item--x i:hover {
    color: #007BFF; /* color genèric blau */
}

.enlaces-d__container__item--instagram i:hover {
    color: #E1306C; /* color Instagram */
}

.enlaces-d__container__item--facebook i:hover {
    color: #3B5998; /* color Facebook */
}

.enlaces-d__container__item:hover {
    transform: scale(1.2);
}

.enlaces-d__container__item i {
    font-size: 3rem; /* ajustat per a que correspongui a la classe `fa-3x` */
    margin-bottom: 10px;
}

.enlaces-d__container__item p {
    margin: 0;
}

.enlaces-b__text .text__enllacos {
    font-weight: bolder;
    color: darkblue;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
}

.enlaces-b__text .text__enllacos:hover {
    color: green;
    text-decoration: underline;
}

.optimitzacio {
    transform: translateZ(0);
    will-change: transform;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 768px) {
    .optimitzacio {
        font-size: 0.6rem;
    }
}

@media (max-width: 480px) {
    .optimitzacio {
        font-size: 0.6rem;
    }
}



    .footer_image{

        width: 100px;
        height: auto;
        @media (max-width: 768px) {
            width: 70px;
        }
        @media (max-width: 480px) {
            width: 50px;
        }
    }

    .small-column{
        width: 30%;
    }

    .big-column{
        width: 70%;
    }