.center-text {
  text-align: center;
}






// Container for cards
.enlaces-b__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 5px;

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $phone) {
    grid-template-columns:  1fr;
  }

}

.enlaces-b__item {
  border: 1px solid blue;
  padding: 10px;
  text-align: center;

  &__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  &__text {
    margin-top: 10px;
  }
}

// Responsive styles
@media (max-width: $phone) {
  
}