.enlaces{
    font-size: 1.2rem;

    @media (max-width: $tablet) {
        font-size: 1.1rem;
    }

    @media (max-width: $phone) {
        font-size: 0.8rem;
    }

}



.enlaces_h1{
    font-size: 2.2rem;
    text-align: center;
    @media (max-width: $tablet) {
        font-size: 1.7rem;
    }

    @media (max-width: $phone) {
        font-size: 1rem;
    }  
}
.enlaces-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;

    @media (max-width: $tablet){
        width: 95%;
        margin: 0 2.5%;
    }



    &__container{
        width: 100%;


        @media (max-width: $phone){
            height: auto;
        }
        p {
            line-height: 1.5rem;
            margin: 1rem;
            font-family: 'Times New Roman', Times, serif;

            @media (max-width: $phone) {
                line-height: normal;

                font-size: 0.7rem; 
                margin: 0.1rem; 
        }
    }

}
}
.enlaces-b {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    table {
        border: 2px solid black;
        border-collapse: collapse;
        width: 100%;
        min-width: 580px;

        @media (max-width: $phone) {
            min-width: 250px; 
    }
    }

    td {
        border: 2px solid black;
        border-collapse: collapse;
        width: 20%;
    }
    tr:nth-child(even) {
        background-color: #e8e8e8; // Incrementat el contrast per visibilitat millorada
    }

    tr{

        &:first-child{
            height: 30px;
            background-color: #000000;
            color: whitesmoke;
        }

        margin: 12px;
            width: 350px;
            max-width: 25vw;
            height: 400px;
            @media (max-width: $tablet) {
                width: 300;
                height: 350px;
                margin: 6px;
            }

            @media (max-width: $phone) {
                width: 200px;
                height: 250px;
                margin: 3px;
            }
    }
    display: grid;
    justify-content: center;
    align-items: center;
    &:nth-child(even) {
        background-color: #f9f9f9; // Color de fons millorat per major contrast
    }
    &__Imatge {
        img {
            margin: 12px;
            width: 300px;
            max-width: 25vw;
            height: 350px;
            aspect-ratio: 3/2;
            @media (max-width: $tablet) {
                width: 250px;
                height: 300px;
                margin: 6px;
                aspect-ratio: 3/2;
            }

            @media (max-width: $phone) {
                width: 75px;
                height: 100px;
                margin: 3px;
                aspect-ratio: 3/2;
            }
        }
    }

    &__text {
        color: #000000; // Negre per a major contrast
        margin: 12px;
        width: 300px;
        max-width: 25vw;
        height: 350px;
        @media (max-width: $tablet) {
            width: 250px;
            height: 300px;
            margin: 6px;
        }

        @media (max-width: $phone) {
            width: 150px;
            height: 200px;
            margin: 3px;
        }
        p {
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.1rem;
            margin-left: 3vh;
        }
    }
}

.enlaces-c {
    width: 80%;
    margin: 2rem 10%;

    @media (max-width: $tablet){
        width: 95%;
        margin: 0 2.5%;
    }
    .text-center {
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;

        @media (max-width: $tablet){
            width: 95%;
            margin: 0 2.5%;
        }

        .enlaces-c__llistat {
            list-style-type: none;
            padding-left: 0;

            li {
                background-color: #f0f0f0; 
                margin-bottom: 15px;
                padding: 15px;
                border-radius: 8px;
                border-left: 5px solid #398a3c;

                @media (max-width: $tablet) {
                    font-size: 1rem;
                  }
            
                  @media (max-width: $phone) {
                    font-size: 0.8rem;
                  }
            

                a {
                    color: #0056b3; 
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        color: #d60087; 
                    }
                }
            }
        }
    }
}

.enlaces-d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__paragraf {
        margin: 1% 10%;
        text-align: justify;

        @media (max-width: $tablet){
            
            margin: 1% 5%;
        }
    }
    &__container {
      width: 33vw;
      margin: 4vh 0;
        &__llista {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex; // per defecte en desktop
            justify-content: space-between;
            @media (max-width: $tablet) { // tablet
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }

            @media (max-width: $phone) { // telèfon
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: transform 0.3s ease;

            &.enlaces-d__item--discord i:hover {
                color: #7289da; // color Discord
            }
            &.enlaces-d__item--youtube i:hover {
                color: #FF0000; // color YouTube
            }
            &.enlaces-d__item--x i:hover {
                color: #007BFF; // color genèric blau
            }
            &.enlaces-d__item--instagram i:hover {
                color: #E1306C; // color Instagram
            }
            &.enlaces-d__item--facebook i:hover {
                color: #3B5998; // color Facebook
            }

            &:hover {
                transform: scale(1.2);
                p {
                    transform: scale(1.2);
                }
            }

            i {
                font-size: 3rem; // ajustat per a que correspongui a la classe `fa-3x`
                margin-bottom: 10px;
            }

            p {
                margin: 0;
            }
        }
    }
}

.enlaces-b__text .text__enllacos {
    font-weight: bolder;
    color: darkblue;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    &:hover {
        color: green;
        text-decoration: underline;
    }
}


.optimitzacio{
    transform: translateZ(0);
    will-change: transform;
    font-family: 'Courier New', Courier, monospace;

    @media (max-width: $tablet) {
        font-size: 1rem;
    }

    @media (max-width: $phone) {
        font-size: 0.8rem;
    }  
}