footer{
  background-color: #333;
  width: 100%;
  
  display: flex;
  flex-direction: column;
}
.footer {

    color: #fff;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
    align-items: center;
  
    .footer__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin: auto;
    }
  
    .footer__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 300px;
  
      .footer__info__container {
        margin-right: 10vh ;
      }
  
      .footer--logo {
        width: 100px;
        height: auto;
      }
  
      .footer__nav {
        ul {
          list-style-type: none;
          display: flex;
  
          li {
            margin: 0 10px;
  
            .navegacio__link {
              text-decoration: none;
              color: #fff;
  
              &:hover {
                color: #ccc;
              }
            }
          }
        }
      }
    }
  

  }
  