@import "utility";
@import "variables";

// Estils generals per a la pàgina
body {
  font-family: 'Comic Neue', sans-serif;
}

.header-logo {
  width: 100px; // Dimensions explícites per a la imatge del logo
  height: 50px;
}

.home-imatge {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;

  &__image--back, &__image--front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  &__image--back {
    background-image: url('../images/cortinaRoja.webp');
    z-index: 2;
  }

  &__image--front {
    background-image: url('../images/portadaPrincipal.webp');
    z-index: 3;
    animation: reveal 3.5s forwards;
  }
}

// Animació per revelar la imatge
@keyframes reveal {
  0% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

// Text centrat amb animació arcoiris
.text__gira {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  color: white; 
  text-align: center;
  width: 100%;
  font-size: calc(1em + 2vh);

  &__1, &__2, &__3, &__4, &__5, &__6, &__7, &__8, &__9, &__10, &__11, &__12, &__13, &__14, &__15, &__16 {
    animation: animacioArcoiris 5s infinite linear;
  }
}

@keyframes animacioArcoiris {
  0% { color: red; }
  25% { color: orange; }
  50% { color: yellow; }
  75% { color: green; }
  100% { color: blue; }
}

// Estils per la secció de història
.home__historia {
  padding: 0 20%;
  justify-content: center;
  align-items: center;
  display: grid;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 5vh;

  @media (max-width: $tablet) {
    padding: 0 10%;
  }

  @media (max-width: $phone) {
    padding: 0 5%;
  }

  p {
    margin: 1.5vh 0;
  }

  h2 {
    text-align: center;
    font-family: $font-family-Comic;
    margin-bottom: 5vh;
    font-size: 5vh;
  }
}

// Estils per la secció de vídeos
.home__videos {
  margin-bottom: 5vh;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vh;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    @media (max-width: $phone) {
      grid-template-columns: 1fr;
      width: 50%;
      max-width: 300px;
      margin: 0 25%;
    }

    &__video {
      margin: 2.5vh 0;
      iframe {
        border-radius: 10%;
        width: 45vh;
        height: 35vh;

        @media (max-width: $tablet) {
          width: 40vh;
          height: 25vh;    
        }
      }
    }
  }
}

// Estils per la secció de xarxes socials
.home__xarxes {
  margin-bottom: 5vh;
  
  &__llista {
    display: flex; 
    list-style: none;
    margin: 5vh 20%;
    justify-content: space-around;
    
    @media (max-width: $phone) {
      display: grid;
      grid-template-columns: repeat(2, 100px);
      gap: 5vh;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    li {
      img {
        width: 100%;
        max-width: 7.5vw; 
        height: auto; 
        transition: transform 0.2s ease;
      }

      &:hover img {
        transform: scale(1.1); // Augmenta la mida al fer hover
      }
    }
  }
}

// Estils per la secció de vídeos i xarxes
.home__videos, .home__xarxes {
  margin: 2.5vh 0;
}

// Estils per el logo al footer
.footer--logo {
  width: 100px;
  height: 50px;
}
