@import "utility";
@import "variables";
@import "home";
@import "navegacio";
@import "variables";

.llistat-discs-imatges{
  width: 100%;
  height: auto;
}
.presentacio-a {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 5vh 15vw;
  p{
    margin-top: 2.5vh;
  }

  .presentacio-a__text{
    .presentacio-a__text__p{
      margin: 2.5vh;
      @media (max-width: $tablet) {
        font-size: 1rem;
      }

      @media (max-width: $phone) {
        font-size: 0.6rem;
      }
    }
  }
}

.presentacio-b {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;

  .llista-discs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }

    justify-content: space-between;
    li {
      display: inline-block;
      margin: 10px;

      a {
        text-decoration: none;

        img {
          width: 100%;
          max-width: 27vw;
          height: auto;

          @media (max-width: $tablet) {
            max-width: 80vw;
            max-height: 50vh;
          }


          border-radius: 50%;
          transition: opacity 0.5s ease-in-out;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }

        h3 {
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
}

.presentacio-d{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: auto;
  overflow: hidden;
  height: 600px;
  p{
    margin: 5.5vh 0;
    line-height: 1.5;
    font-size: 1.1rem;
  }
  a{
    font-size: 2.1rem;
  }

  &__carrousel {
    display: flex;
    overflow: hidden; // Evita que es visualitze el desbordament
    min-width: auto;
    height: 1200px;
    text-align: center;

    &__lletra {
      display: flex;
      max-width: 100%;
      display: block;
      text-align: center;

      pre {
        display: flex;
        position: relative;
        overflow: hidden;
        margin: 0;
        height: 100%; // La altura se ajusta al contenedor padre
        animation: scrollText 32s linear infinite;
        text-align: center;
      }
    }
  }
}

.presentacio-e {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 10vh;

  &__text {
    margin-bottom: 3vh;
    line-height: 1.5;
    font-size: 1.2rem;
  }

  &__caixes {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr); // 2 caixes en vista de tablet
    }

    @media (max-width: $phone) {
      grid-template-columns: 1fr; // 1 caixa en vista de mòbil
    }

    &__caixa {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 5vh auto;
      background-color: black;
      transition: 1.5s ease-in-out;
      &__imatge {
        img {
          width: 100%;
          height: auto;
        }
      }

      @media (max-width: $tablet) {
        background-color: rgb(167, 167, 167); // Fons més clar per a millor visibilitat
        &__imatge, &__continguts {
          
        }
      }

      &:hover {
        background-color: rgb(167, 167, 167);

        .presentacio-e__caixes__caixa__imatge,
        .presentacio-e__caixes__caixa__continguts {
          
        }
      }
    }
  }
}


/*  Animació SVG*/



        @keyframes transformToHeart {
            0% {
                /* Inici amb un quadrat i dos cercles en blau */
                fill: blue;
                opacity: 1;
            }
            50% {
                /* Els cercles es mouen per sobre del quadrat i tots canvien a vermell */
                transform: translate(0, -20px);
                fill: red;
                opacity: 1;
            }
            100% {
                /* Comencen a desaparèixer */
                opacity: 0;
            }
        }

        @keyframes fadeInHeart {
            0% { 
                fill: red;
                opacity: 0; 
            }
            100% { 
                opacity: 1; 
            }
        }

        #square, .circle {
            animation: transformToHeart 3s forwards;
        }

        #heart {
            opacity: 0;
            animation: fadeInHeart 3s forwards;
            animation-delay: 2s; /* Esperem que les altres formes comencin a desaparèixer */
        }

        .presentacio-a__title{
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
          
          h2{
            margin: 0 2.6vw;
          }
          
        }