@import "utility";
@import "variables";
@import "home";
@import "navegacio";
@import "variables";

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}





.presentacio-a {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 2.5vh 7.5vh;
  p{
    margin-top: 2.5vh;
  }
}

.presentacio-b {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2.5vh 20px;

  .llista-discs {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin: 10px;

      a {
        text-decoration: none;

        img {
          width: 250px;
          height: 250px;
          border-radius: 50%;
          transition: opacity 0.5s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }

        h3 {
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
}

.presentacio-d{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: auto

  p{
    margin: 5.5vh 0;
    line-height: 1.5;
    font-size: 1.1rem;
  }
  a{
    font-size: 2.1rem;
  }

  &__carrousel {
    display: flex;
    overflow: hidden; // Evita que es visualitze el desbordament
    min-width: auto;
    height: auto; // Altura fija de la caja del carrusel
    text-align: center;

    &__lletra {
      display: flex;
      max-width: 100%;
      display: block;
      text-align: center;

      pre {
        display: flex;
        position: relative;
        overflow: hidden;
        margin: 0;
        height: 100%; // La altura se ajusta al contenedor padre
        animation: scrollText 32s linear infinite;
        text-align: center;
      }
    }
  }
}

.presentacio-e {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 10vh;

  &__text {
    margin-bottom: 3vh;
    line-height: 1.5;
    font-size: 1.2rem;
  }

  &__caixes {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr); // 2 caixes en vista de tablet
    }

    @media (max-width: $phone) {
      grid-template-columns: 1fr; // 1 caixa en vista de mòbil
    }

    &__caixa {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 5vh auto;
      background-color: black;
      transition: 1.5s ease-in-out;
      &__imatge {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      @media (max-width: $tablet) {
        background-color: rgb(167, 167, 167); // Fons més clar per a millor visibilitat
        &__imatge, &__continguts {
          
        }
      }

      &:hover {
        background-color: rgb(167, 167, 167);

        .presentacio-e__caixes__caixa__imatge,
        .presentacio-e__caixes__caixa__continguts {
          
        }
      }
    }
  }
}


