<section id="detall-d" class="detall-d">
    <h2>Ánectodes de Oques Grasses</h2>
  
    <details>
      <summary>Quina va ser la seva primera actuació?</summary>
      <p>La seva primera actuació va ser el 2014 al festival Barnasants. </p>
    </details>
  
    <details>
      <summary>Com va sorgir el nom "Oques Grasses"?</summary>
      <p>El nom va sorgir d'una broma entre amics, ja que un dels membres del grup tenia un ànec de joguina que anomenaven "Oca Grossa".</p>
    </details>
  
      
    <details>
      <summary>Quina és la seva cançó més popular?</summary>
      <p>La seva cançó més popular és "In the night", amb més de 10 milions de reproduccions a Spotify.</p>
    </details>
  
    <details>
      <summary>Han guanyat algun premi?</summary>
      <p>Sí, han guanyat diversos premis, com ara el Premi Enderrock al Millor Grup Revelació (2017) i el Premi Ciutat de Barcelona de Música (2020).</p>
    </details>
  
    
  </section>