<section id="detall__concerts" class="detall__concerts">
    <h2 class="text-center detall__concerts__heading">Pròxims concerts</h2>
    <div class="detall__concerts__grid">
      <div class="detall__concerts__concert">
        
        <img class="detall__concerts__concert__imagen" src="../../../assets/images/Concert1.jpg" alt="Concert">
        <div class="detall__concerts__concert__meta">
          <p class="detall__concerts__concert__meta__data">20/05/2024 21:00</p>
          <p class="detall__concerts__concert__meta__preu">25€</p>
        </div>
        <div class="detall__concerts__concert__contingut">
          <h3 class="detall__concerts__concert__nom">
            Batea
          </h3>
          <p class="detall__concerts__concert__descripcio">
            Concert epic a Batea 
          </p>
          <p class="detall__concerts__concert__texto">
            Concert a Batea dins del Cruïlla DO Terra Alta. Oques Grasses seran un dels plats forts del 
            festival, que combina música i gastronomia a la Terra Alta. A més d'Oques Grasses, el festival 
            comptarà amb actuacions d'altres grups
          </p>
          <a href="https://concerts.cruillabarcelona.com/es/cruilla-do-terra-alta/" target="_blank"><i class="fa-solid fa-ticket fa-3x rosa"></i></a>
        </div>
      </div>
      <!-- Finalitza-->
      <div class="detall__concerts__concert">
        <img class="detall__concerts__concert__imagen" src="../../../assets/images/Concert2.jpg" alt="Concert">
        <div class="detall__concerts__concert__meta">
          <p class="detall__concerts__concert__meta__data">25/05/2024 21:00</p>
          <p class="detall__concerts__concert__meta__preu">50€</p>
        </div>
        <div class="detall__concerts__concert__contingut">
          <h3 class="detall__concerts__concert__nom">
            València
          </h3>
          <p class="detall__concerts__concert__descripcio">
            Concert a la Plaça de Bous de València
          </p>
          <p class="detall__concerts__concert__texto">
            Concert a la Plaça de Bous de València per a la presentació del Pirata Beach Fest 2024. 
            Oques Grasses presentaran el seu nou disc, "Els fruits del deliri", i serà la festa de presentació
             del festival Pirata Fest. T'ho perdràs?
          </p>
          <a href="https://www.enterticket.es/eventos/oques-grasses-placa-de-bous-de-valencia-festa-presentacio-pirata-beach-fest-2024" target="_blank"><i class="fa-solid fa-ticket  fa-3x rosa"></i></a>
        </div>
      </div>
      <!-- Finalitza-->
      <div class="detall__concerts__concert">
        <img class="detall__concerts__concert__imagen" src="../../../assets/images/Concert3.jpg" alt="Concert">
        <div class="detall__concerts__concert__meta">
          <p class="detall__concerts__concert__meta__data">14/06/2024 21:00</p>
          <p class="detall__concerts__concert__meta__preu">45€</p>
        </div>
        <div class="detall__concerts__concert__contingut">
          <h3 class="detall__concerts__concert__nom">
            Cabró Rock
          </h3>
          <p class="detall__concerts__concert__descripcio">
            Actuació al festival Cabró Rock a Vic
          </p>
          <p class="detall__concerts__concert__texto">
            Oques Grasses seran un dels caps de cartell del festival Cabró Rock, que se celebrarà a Vic. El festival comptarà amb actuacions d'altres grups com Sopa de Cabra, Els Pets i Txarango. Les entrades ja estan a la venda a la webl.
          </p>
          <a href="https://www.cabrorock.cat/" target="_blank"><i class="fa-solid fa-ticket  fa-3x rosa"></i></a>
        </div>
      </div>
      <!-- Finalitza-->
      <div class="detall__concerts__concert">
        <img class="detall__concerts__concert__imagen" src="../../../assets/images/Concert4.jpg" alrt="Concert">
        <div class="detall__concerts__concert__meta">
          <p class="detall__concerts__concert__meta__data">07/07/2024  21:00</p>
          <p class="detall__concerts__concert__meta__preu">125€</p>
        </div>
        <div class="detall__concerts__concert__contingut">
          <h3 class="detall__concerts__concert__nom">
            Canet Rock
          </h3>
          <p class="detall__concerts__concert__descripcio">
            Actuació al festival Canet Rock a Canet del Mar. 
          </p>
          <p class="detall__concerts__concert__texto">
            Oques Grasses seran un dels grups que actuaran al Canet Rock 2024, que se celebrarà el 7 de juliol a Canet del Mar. El festival comptarà amb actuacions d'altres grups com Manel, Doctor Prats i Suu. Les entrades ja estan a la venda a la web. 
          </p>
          <a href="https://www.canetrock.cat/venda-entrades" target="_blank"><i class="fa-solid fa-ticket  fa-3x rosa"></i></a>
        </div>
      </div>
      <!-- Finalitza-->
      <div class="detall__concerts__concert">
        <img class="detall__concerts__concert__imagen" src="../../../assets/images/Concert5.jpg" alrt="Concert">
        <div class="detall__concerts__concert__meta">
          <p class="detall__concerts__concert__meta__data">04/08/2024 21:00</p>
          <p class="detall__concerts__concert__meta__preu">25€</p>
        </div>
        <div class="detall__concerts__concert__contingut">
          <h3 class="detall__concerts__concert__nom">
            Sons del Món.
          </h3>
          <p class="detall__concerts__concert__descripcio">
            Concert al festival Sons del Món a Roses. 
          </p>
          <p class="detall__concerts__concert__texto">
            Oques Grasses seran un dels grups que actuaran al festival Sons del Món 2024, que se celebrarà del 2 al 5 d'agost a Roses. El festival comptarà amb actuacions d'altres grups com The Cat Empire, Balkan Paradise Orchestra i Dub Inc.
          </p>
          <a href="https://www.sonsdelmon.cat/programacio/81/15/oques-grasses" target="_blank"><i class="fa-solid fa-ticket  fa-3x rosa"></i></a>
        </div>
      </div>
      <!-- Finalitza-->
      <div class="detall__concerts__concert">
        <img class="detall__concerts__concert__imagen" src="../../../assets/images/Concert6.jpg" alrt="Concert">
        <div class="detall__concerts__concert__meta">
          <p class="detall__concerts__concert__meta__data">09/10/2024 21:00</p>
          <p class="detall__concerts__concert__meta__preu">??€</p>
        </div>
        <div class="detall__concerts__concert__contingut">
          <h3 class="detall__concerts__concert__nom">
            Per determinar.
          </h3>
          <p class="detall__concerts__concert__descripcio">
            Concert sorpresa  
          </p>
          <p class="detall__concerts__concert__texto">
            Oques Grasses han anunciat un concert sorpresa per al 9 d'octubre de 2024. El lloc del concert encara no s'ha anunciat. El concert serà una oportunitat única per veure Oques Grasses en un espai íntim i especial.
          </p>
          <a href="https://www.sonsdelmon.cat/programacio/81/15/oques-grasses" target="_blank"><i class="fa-solid fa-ticket  fa-3x rosa"></i></a>
        </div>
      </div>
      <!-- Finalitza-->
    </div>
  </section>