<section class="detall-a">
    <h2 class="text-center">Concerts emblemàtics</h2>
  <div class="container">
      <div class="concert">
        <img src="../../../assets/images/Concerts/oques-grasses-sant-jordi.jpg" alt="Oques Grasses Concert 1" class="concert-image">
        <div class="concert-text" id="SantJordi">
          <h3 class="text-center">Sant Jordi</h3>
          <p>Data: 22 de desembre de 2022</p>
          <p>Lloc: Palau Sant Jordi, Barcelona</p>
          <p>Descripció: Concert de presentació del disc "Alegria".</p>
          <a href="https://www.mondosonoro.com/criticas/conciertos-musica/oques-grasses-sant-jordi-barcelona/">Més informació</a>
        </div>
      </div>
  
      <div class="concert concert-reversed">
        <img src="../../../assets/images/Concerts/cruilla-768x511.jpg" alt="Oques Grasses Concert 2" class="concert-image">
        <div class="concert-text" id="Cruilla">
          <h3 class="text-center">Festival Cruïlla</h3>
          <p>Data: 15 de juliol de 2023</p>
          <p>Lloc: Festival Cruïlla, Barcelona</p>
          <p>Descripció: Concert en el marc del Festival Cruïlla.</p>
          <a href="https://beteve.cat/cultura/oques-grasses-cruilla-barcelona-2024-presentacio-sise-disc/">Més informació</a>
        </div>
      </div>
  
      <div class="concert">
        <img src="../../../assets/images/Concerts/Palafrugell.jpg" alt="Oques Grasses Concert 3" class="concert-image">
        <div class="concert-text" id="Palafrugell">
          <h3 class="text-center">Palafrugell</h3>
          <p>Data: 23 de juny de 2023</p>
          <p>Lloc: Cap Roig, Calella de Palafrugell</p>
          <p>Descripció: Concert en el marc del Festival Cap Roig.</p>
          <a href="https://surtdecasa.cat/emporda/agenda/concert-oques-grasses-tingladu/54197">Més informació</a>
        </div>
      </div>
  

  
      <div class="concert concert-reversed" id="Vivers">
        <img src="../../../assets/images/Concerts/oquesGrassesValencia.jpg" alt="Oques Grasses Concert 5" class="concert-image">
        <div class="concert-text">
          <h3 class="text-center">Vivers</h2>
          <p>Data: 17 juliol de 2021 </p>
          <p>Lloc: Vivers, València</p>
          <p>Descripció: Concert acústic en el Vivers de València.</p>
          <a href="https://www.apuntmedia.es/noticies/cultura/fumiga-oques-grasses-pengen-nou-cartell-tot-venut-als-concerts-vivers_1_1423148.html">Més informació</a>
        </div>
  
    </div>
  </section>