    <section class="detall-b">
      
      <div class="detall-b__grid">
        <div class="detall-b__grid__bloc">
          <div class="detall-b__grid__bloc__contingut">
            <h3 class="detall-b__grid__bloc__contingut__heading">Qui som?</h3>
            <p class="detall-b__grid__bloc__contingut__text">
              Som un grup català amb molta marxa
            </p>

          </div>
        </div>
        <div class="detall-b__grid__bloc"></div>
        <div class="detall-b__grid__bloc"></div>
        <div class="detall-b__grid__bloc">
          <div class="detall-b__grid__bloc__contingut">
            <h3 class="detall-b__grid__bloc__contingut__heading">Components del grup</h3>
            <p class="detall-b__grid__bloc__contingut__text">
              Som un grup català amb molta marxa
            </p>

          </div>

      </div>

      </div>

      </div>
      
    </div>
    
    </section>