<section class="detall-g">

    <div class="detall-g__div">
    <h2> Descarrega't els nostres Discs</h2>
    
    <ul class="detall-g__div__ul">
      <li><a href="http://www.mediafire.com/download/1gf97pta7abf443/Oques+Grasses+-+Un+dia+no+se%CC%81+com.zip"><img class="imatge__enllaç" src="../assets/images/dis_1.jpg" alt="disc1"></a></li>
      <li><a href="http://bit.ly/1g5drDD"><img class="imatge__enllaç" src="../../../assets/images/disc_2.jpg" alt="disc2"></a></li>
      <li><a href="https://mega.nz/#!zh43DbKD!wS23XCXcE-dgwf175I-CMuBOX2uQdLEmFA1w8TeMITo"><img class="imatge__enllaç" src="../assets/images/disc_3.jpg" alt="disc3"></a></li>

      </ul>
    </div>
  </section>