<section class="detall-f">
    <h2 class="detall-f__h2">Nou Single Com està el pati!</h2>
    <div class="detall-f__div">
      <div class="detall-f__div__imatges"><img  class="detall-f__div__imatges__imatge" src="../../../assets/images/ocaTransparent.png" alt="Oca"></div>
      <div class="detall-f__div__text"></div>
      <div class="detall-f__div__imatges"><img  class="detall-f__div__imatges__imatge" src="../../../assets/images/ocaTransparent.png" alt="Oca"></div>
      <div></div>
      <div class="detall-f__div__Portada">
        <iframe class="detall-f__div__Portada__iframe" width="600" height="380" src="https://www.youtube.com/embed/mDa6tvbnZsQ?si=_UQzhkcIKeOSzpLR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <a class="detall-f__div__Portada__link" href="https://www.youtube.com/watch?v=mDa6tvbnZsQ"><img  class="detall-f__div__Portada__imatge" src="../assets/images/comEstaElPati.jpg" alt="Oca"></a>
      </div>
      <div></div>
      <div class="detall-f__div__imatges"><img  class="detall-f__div__imatges__imatge" src="../../../assets/images/ocaTransparent.png" alt="Oca"></div>
      <div></div>
      <div class="detall-f__div__imatges"><img  class="detall-f__div__imatges__imatge" src="../../../assets/images/ocaTransparent.png" alt="Oca"></div>
    </div>
  </section>