<header >
    <div class="header__barra  fondo_pantalla">

        <div class="header__barra__nav ">
        
        <nav class="navegacio">
            <a class="navegacio__link" href="./index.html">Portada</a>
            <a class="navegacio__link" href="./wiews/categoria.html">Categoria</a>
            <a class="navegacio__link" href="./wiews/detall.html">Detall</a>
            <a class="navegacio__link" href="./wiews/presentacio.html">Presentació</a>
            <a class="navegacio__link" href="./wiews/enlaces.html">Enllaços</a>
        </nav>
        <div class="header__barra__nav__gira text-center">
            <!-- Cree efecte arcoiris-->
            <p>
            <span class="header__barra__nav__gira__1">
                G
            </span>
            <span class="header__barra__nav__gira__2">
                i
            </span>
            <span class="header__barra__nav__gira__3">
                r
            </span>   
            <span class="header__barra__nav__gira__4">
                a             
            </span>&nbsp;
            <span class="header__barra__nav__gira__5">
                2
            </span>
            <span class="header__barra__nav__gira__6">
                0
            </span>
            <span class="header__barra__nav__gira__7">
                2
            </span>
            <span class="header__barra__nav__gira__8">
                4 
            </span> &nbsp;
            <span class="header__barra__nav__gira__9">
                e
            </span>
            <span class="header__barra__nav__gira__10">
                n 
            </span> &nbsp;
            <span class="header__barra__nav__gira__11">
                m
            </span>
            <span class="header__barra__nav__gira__12">
                a
            </span>
            <span class="header__barra__nav__gira__13">
                r
            </span>
            <span class="header__barra__nav__gira__14">
                x
            </span>&nbsp;
            <span class="header__barra__nav__gira__15">
                a 
            </span>&nbsp;
            <span class="header__barra__nav__gira__16">
                !
            </span>
        </p>
    </div>
    </div>

    </div>

    </div>

</header>