<header>
    <div class="header-back">
        <div class="header-menu header-container">
          <a href="../index.html"> <img src="../assets/images/logoOquesGrasses.svg" alt="Logo Oques Grasses" class="header-logo"></a>        
          <!-- El input es checkbox per enganyar al navegador-->
          <input type="checkbox" id="menu-navegador" />
            <label for="menu-navegador">
              <!-- Utilitze bars ja que pense que es la millor opció gratuita-->
              <i class="fa-solid fa-bars fa-3x menu-icono"></i>
            </label>
            <nav class="navbar">
              <ul>
                <li><a class="navegacio__link" href="../index.html">Portada</a></li>
                <li><a class="navegacio__link" href="./categoria.html">Categoria</a></li>
                <li><a class="navegacio__link" href="./detall.html">Detall</a></li>
                <li><a class="navegacio__link" href="./presentacio.html">Presentació</a></li>
                <li><a class="navegacio__link" href="./enlaces.html">Enllaços</a></li>
              </ul>
            </nav>


        </div>
   
    </div>
  </header>