<section class="home__videos">
    <h2 class="text-center">Videos</h2>
    <div class="home__videos__container">
    <div class="home__videos__container__video">
      <iframe src="https://www.youtube.com/embed/yGO3UPPuVKs?si=Gfogr1U0XZbrDQkA" title="YouTube Oques Grasses" allowfullscreen frameborder="0" muted autoplay></iframe>
    </div>
    <div class="home__videos__container__video">
      <iframe src="https://www.youtube.com/embed/Nh-Socoh4zI?si=QfGd6bOIHXDqA5KV" title="YouTube Oques Grasses" allowfullscreen frameborder="0" muted autoplay></iframe>
    </div>

  </div>
  </section>