<section class="home__xarxes">
    <h2 class="text-center">Xarxes Socials</h2>
    <ul class="home__xarxes__llista">
      <li>
        <a href="https://open.spotify.com/intl-es/artist/5qPeAT4ikl6gJNUexAOEy0" target="_blank">
          <img src="../../../assets/images/Xarxes/spotify-logo-png-7057.png" alt="Spotify Oques Grasses">
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/user/oquesgrasses" target="_blank">
          <img src="../../../assets/images/Xarxes/Youtube_icon-icons.com_66802 (1).png" alt="Youtube Oques Grasses">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/OquesGrasses" target="_blank">
          <img src="../../../assets/images/Xarxes/1486051940-twitersocialnetworkbrandlogo_79084.png" alt="Twitter Oques Grasses">
        </a>
      </li>
      <li>
          <a href="https://www.amazon.es/music/player/artists/B00IH8KRPK/oques-grasses" target="_blank">
            <img src="../../../assets/images/Xarxes/amazon_music_macos_bigsur_icon_190403.png" alt="Twitter Oques Grasses">
          </a>
        </li>
    </ul>
  </section>