@import "./layout/utility.scss";
@import "./layout/home.scss";
@import "./layout/footer.scss";
@import "./layout/categoria";
@import "./layout/detall.scss";
@import "./layout/presentacio.scss";
@import "./layout/enlaces.scss";
@import "./layout/header.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}


